*{
    margin: 0px;
    padding: 0px;
}
/* Default css start */
#wrapper{
    background-color: rgb(228, 216, 216);
}
#head{
    height: 100px;
    width: 100%;
    margin-bottom: 5px;
    background-color: rgb(11, 27, 49);
}
#slider{
    height: 400px;
    background-color: whitesmoke;
}
#contant{
    height: auto;
    background-color: whitesmoke;
}
#our_services{
    height: 300px;
    background-color: whitesmoke;
}
#our_client{
    height: auto;
    background-color: whitesmoke;  
}
#our_mission{
    height:auto;
    background-color: whitesmoke;
}
#our_vision{
    height: auto;
    background-color: whitesmoke;
}
#why_greensoft{
    height: 350px;
    background-color: whitesmoke;
}
.why_box{
    height: calc(100% - 10px);
    width:calc(50% - 10px);
    margin: 5px;
    float: left;
    background-color: whitesmoke;
}
#links{
    height: 350px;
    width: 100%;
}
.link_box{
    height: calc(100% - 2px);
    width: calc(33.33% - 1px);
    background-color: black;
    float: left;
    margin-left: 1px;
    margin-bottom: 2px;
}
.link_box:first-child{
    margin-left: 0px;
}
/* Default css end */
@media(max-width:1200px) and (min-width:990px){ 
    #slider{
        height: 395px;
    }
    .para_text{
        font-size: 25px;
        line-height: 35px;
    }
}
@media(max-width:989px) and (min-width:720px){
    #slider{
        height: 350px;
    }
    #why_greensoft{
        height: auto;
    }
    .why_box:first-child{
        height: 270px;
        width: 100%;
    }
    .why_box:last-child{
        width:100%;
        height: auto;
    }
    .para_text{
        font-size: 22px;
        line-height: 33px;
    }
}
@media(max-width:719px) and (min-width:420px){
    #slider{
        height: 330px;
    }
    #why_greensoft{
        height: auto;
    }
    .why_box:first-child{
        height: 270px;
        width: 100%;
    }
    .why_box:last-child{
        width:100%;
        height: auto;
    }
    #links{
        height: 1200px;
    }
    .link_box:nth-child(1){
        height: 400px;
        width: 100%;
        margin-bottom: 1px;
    }
    .link_box:nth-child(2){
        height: 400px;
        width: 100%;
        margin: 0px;
        margin-bottom: 1px;
    }
    .link_box:nth-child(3){
        height: 400px;
        width: 100%;
        margin: 0px;
    }
}
@media(max-width:419px){
    #slider{
        height: 300px;
    }
    #why_greensoft{
        height: auto;
    }
    .why_box:first-child{
        height: 200px;
        width: calc(100% - 10px);
    }
    .why_box:last-child{
        width: calc(100% - 10px);
        height: auto;
    }
    #links{
        height: 1200px;
    }
    .link_box:nth-child(1){
        height: 400px;
        width: 100%;
        margin-bottom: 1px;
    }
    .link_box:nth-child(2){ 
        height: 400px;
        width: 100%;
        margin: 0px;
        margin-bottom: 1px;
    }
    .link_box:nth-child(3){
        height: 400px;
        width: 100%;
        margin: 0px;
    }
}