*{
    margin: 0px;
    padding: 0px;
}
/* Default css start */
#head{
    height: 100px;
    background-color: rgb(0, 255, 0);
    margin-bottom: 5px;
}
#slider{
    height: 400px;
    width: calc(100% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: rgb(225, 217, 217);
}
#contant{
    height: auto;
    width: calc(100% - 10px);
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
    background-color: rgb(225, 217, 217);
}
#our_services{
    height: 300px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: rgb(225, 217, 217);
}
#our_client{
    height: auto;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: rgb(225, 217, 217);  
}
#our_mission{
    height:auto;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: rgb(225, 217, 217);
}
#our_vision{
    height: auto;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: rgb(225, 217, 217);
}
#why_greensoft{
    height: auto;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: rgb(225, 217, 217);
}
#links{
    height: 400px;
    width: 100%;
}
.link_box{
    height: calc(100% - 2px);
    width: calc(33.33% - 1px);
    background-color: black;
    float: left;
    margin-left: 1px;
    margin-bottom: 2px;
}
.link_box:first-child{
    margin-left: 0px;
}
/* Default css start */
@media(max-width:1200px) and (min-width:990px){ 
    #slider{
        height: 395px;
    }
    .para_text{
        font-size: 25px;
        line-height: 35px;
    }
}
@media(max-width:989px) and (min-width:720px){
    #slider{
        height: 350px;
    }
    .para_text{
        font-size: 22px;
        line-height: 33px;
    }
}
@media(max-width:719px) and (min-width:420px){
    #slider{
        height: 330px;
    }
    #links{
        height: 1200px;
    }
    .link_box:nth-child(1){
        height: 400px;
        width: 100%;
        margin-bottom: 1px;
    }
    .link_box:nth-child(2){
        height: 400px;
        width: 100%;
        margin: 0px;
        margin-bottom: 1px;
    }
    .link_box:nth-child(3){
        height: 400px;
        width: 100%;
        margin: 0px;
    }
}
@media(max-width:419px){
    #slider{
        height: 300px;
    }
    #links{
        height: 1200px;
    }
    .link_box:nth-child(1){
        height: 400px;
        width: 100%;
        margin-bottom: 1px;
    }
    .link_box:nth-child(2){
        height: 400px;
        width: 100%;
        margin: 0px;
        margin-bottom: 1px;
    }
    .link_box:nth-child(3){
        height: 400px;
        width: 100%;
        margin: 0px;
    }
}