*{
    margin: 0px;
    padding: 0;
}
#head{
    height: 100px;
    background-color: rgb(0, 255, 0);
    margin-bottom: 5px;
}
#slider{
    height: 400px;
    margin-bottom: 5px;
    background-color: rgb(146, 34, 34);
}
#contant{
    height: 300px;
    width: calc(100% - 10px);
    background-color: whitesmoke;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
#our_services{
    height: 300px;
    margin-bottom: 5px;
    background-color: bisque;
}
#our_client{
    height: 250px;
    margin-bottom: 5px;
    background-color: aquamarine;
}
#our_mission{
    height:280px;
    margin-bottom: 5px;
    background-color:goldenrod;
}
#our_vision{
    height: 200px;
    margin-bottom: 5px;
    background-color: whitesmoke;
}
#why_greensoft{
    height: 300px;
    margin-bottom: 5px;
    background-color: blueviolet;

}
#links{
    height: 300px;
    width: 100%;
}
.link_box{
    height: calc(100% - 2px);
    width: calc(33.33% - 1px);
    background-color: black;
    float: left;
    margin-left: 1px;
    margin-bottom: 2px;
}
.link_box:first-child{
    margin-left: 0px;
}
@media(max-width:1200px) and (min-width:990px){
    #contant{
        height: 150px;
    }
    #our_services{
        height: 150px;
    }
    #our_client{
        height: 120px;
    }
    #our_mission{
        height: 220px;
    }
    #why_greensoft{
        height: 200px;

    }
    #links{
        height: 180px;
    }
}
@media(max-width:989px) and (min-width:720px){
    #contant{
        height: 400px;
    }
    #our_services{
        height: 170px;
    }
    #our_client{
        height: 170px;
    }
    #our_mission{
        height: 250px;
    }
    #why_greensoft{
        height: 250px;

    }
    #links{
        height: 120px;
    }
}
@media(max-width:719px) and (min-width:420px){
    #slider{
        height: 300px;
    }
    #contant{
        height: 300px;
    }
    #our_services{
        height: 200px;
    }
    #our_client{
        height: 200px;
    }
    #our_mission{
        height: 280px;
    }
    #why_greensoft{
        height: 300px;

    }
    #links{
        height: 450px;
    }
    .link_box:nth-child(1){
        height: 150px;
        width: 100%;
        margin-bottom: 5px;
    }
    .link_box:nth-child(2){
        height: 150px;
        width: 100%;
        margin-bottom: 5px;
    }
    .link_box:nth-child(3){
        height: 150px;
        width: 100%;
    }
}