.div_box{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}
.heading_text{
    text-align: center;
    padding: 5px;
}
#why_head_text{
    text-align: left;
    padding: 10px;
}
#why_para_text{
    padding-top: 0px;
}
#button{
    background-color: red;
}
.para_text{
    font-size: 20px;
    line-height: 30px;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
}
.why_text{
    padding-top: 0px;
}
.why_head_text{
    text-align: left;
    padding-left: 20px;
}
.link_head_text{
    color: white;
    padding: 10px;
    font-family: Algerian;
}
#link_head_text{
    color: white;
    padding: 10px;
    font-family: Algerian;
    float: left;
}
.link_box_text{
    color: white;
    font-size: 25px;
    padding: 5px;
}
.services_img{
    height: 83%;
    width: calc(25% - 10px);
    margin-left: 5px;
}
.client_img{
    /* Height=auto */
    width:calc(32.33% - 20px);
    margin-left: 20px; 
}